
<div class="container">

  <header>
    <div class="step">
    	<div class="step-text"><%= t('step') %></div>
    	<div class="step-number">2 <%= t('of') %> 3</div>
    </div>
    <div class="logo">VERIZON</div>
    <div class="language">English
      <div class="dropdown">
        <ul>
          <li>Español</li>
          <li>English</li>
        </ul>
      </div>
    </div>
  </header>

	<div class="form-wrapper">
  	<%= render 'form' %>
  </div>
</div>
