@import "normalize";


//roboto: Helvetica Neue alternative http://qr.ae/lhw39
$roboto : 'Roboto', sans-serif;


* {
	box-sizing: border-box;
}


//barra de navegacion
header {
	color: #fff;
	height: 60px;
	font-size: 0;
	line-height: 60px;
	> div {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		text-align: center;
	}

	.step {
		background-color: #53616f;
		width: 16%;
		height: 100%;
		font-weight: 200;
		line-height: 14px;
		text-align: left;
		padding-left: 10px;
		padding-top: 14px;

		.step-text {
			font-size: 12px;
		}
	}

	.logo {
		background-color: #37404a;
		width: 64%;
		height: 100%;
		font-size: 22px;
	}

	.language {
		background-color: #53616f;
		width: 20%;
		height: 100%;
		font-weight: 200;
		font-size: 15px;

		ul {
  		text-align: left;
  		display: inline;
  		margin: 0;
  		padding: 15px 4px 17px 0;
  		list-style: none;
		}

		ul li {
  		display: inline-block;
  		margin-right: -4px;
  		position: relative;
  		padding: 10px 10px;
  		cursor: pointer;
  		transition: all 0.2s;
		}

		ul li a:hover {
  		color: #fff;
		}

		ul li a:visited{
			color: #fff;
		}

		ul li ul {
	  	padding: 0;
	  	position: absolute;
	  	top: 48px;
	  	left: 0;
	  	width: 150px;
	  	box-shadow: none;
	  	display: none;
	  	opacity: 0;
	  	visibility: hidden;
		}

		ul li ul li {
	  	background: #53616f;
	  	display: block;
	  	text-shadow: 0 -1px 0 #000;
		}

		ul li ul li:hover { background: #37404a; }
		ul li:hover ul {
  		display: block;
  		opacity: 1;
  		visibility: visible;
		}
	}

}

// form

.form-wrapper {
	font-family: $roboto;
	color: #4c5359;
	text-align: center;
	padding-top: 10px;

	h1 {
		font-size: 19px;
		margin: 0;
		font-weight: 200;
		margin-top: 10px;
		padding: 0 10px;
	}

	.field > div {
		padding: 30px 0;
		border-bottom: 1px solid #cccccc;
	}

	.option-group {
		display: inline-block;
		vertical-align: top;
		margin-right: 2.5%;

		> label {
			display: inline-block;
			vertical-align: top;
			&:hover{
				cursor: pointer;
			}
		}

		> input[type="radio"] {
			display: none;
		}

		input[type="radio"]:checked + label  {
			color: #ffffff;
			background-color: #37404a;
			background-image: none !important;
			border-radius: 50%;

			span {
				font-size: 16px;
			}
		}
	}

	.percentage {
		display: inline-block;
		vertical-align: top;
		height: 46px;
		width: 46px;
		background-repeat: no-repeat;
		line-height: 46px;
		text-align: center;
		font-weight: 100;
		font-size: 14px;


		.percentage-symbol {
			font-size: 10px;
			display: inline-block;
			vertical-align: top;
		}
	}
}


//button

.btn-submit-answers {
	height: 40px;
	background: #48729f;
	color: #fff;
	width: 80%;
	outline: none;
	border-radius: 20px;
	margin: 15px 0;
	border: 0;
}
